<form [formGroup]="formulario">
    <div class="mb3">
        <label>Titulo</label>
        <input type="text" class="form-control" formControlName="titulo">
    </div>
    <div class="mb3">
        <label>Texto</label>
        <input type="text" class="form-control" formControlName="texto">
    </div>
    <div class="mb3">
        <label>Autor</label>
        <input type="text" class="form-control" formControlName="autor">
    </div>
    <div class="mb3">
        <label>Imagen</label>
        <img src="" alt="" class="form-control" formControlName="imagen">
    </div>
    <div class="mb3">
        <label>Fecha</label>
        <input type="text" class="form-control" formControlName="fecha">
    </div>
    <div class="mb3">
        <label>Categoría</label>
        <input type="text" class="form-control" formControlName="categoria">
    </div>
    <input type="submit" />
</form>