<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div class="col-xs-12 col-sm-10 col-md-7">
        <label class="form-label">Titulo</label>
        <input type="text" class="form-control" formControlName="titulo">
    </div>
    <div class="col-xs-12 col-sm-10 col-md-7">
        <label class="form-label">Texto</label>
        <textarea type="text" class="form-control" formControlName="texto"></textarea>
    </div>
    <div class="col-xs-12 col-sm-10 col-md-7">
        <label class="form-label">Autor</label>
        <input type="text" class="form-control" formControlName="autor">
    </div>
    <div class="col-xs-12 col-sm-10 col-md-7">
        <label class="form-label">Imagen</label>
        <input type="text" class="form-control" formControlName="imagen">
    </div>
    <div class="col-xs-12 col-sm-10 col-md-7">
        <label class="form-label">Fecha</label>
        <input type="text" class="form-control" formControlName="fecha">
    </div>
    <div class="col-xs-12 col-sm-10 col-md-7">
        <label class="form-label">Categorías</label>
        <select class="form-select" formControlName="categoria">
            <option value="javaScript">JavaScript</option>
            <option value="angular">Angular</option>
            <option value="node">Nodejs</option>
        </select>
    </div>
    <input type="submit" value="Enviar" />
</form>