button{
    border: 0;
}
header nav div p{
    position: absolute;
    top: 30%;
    left: 90%;
    color: white;
    font-size: 20px;
}
#dia{
    position: absolute;
    top: 30%;
    left: 80%;
    color: white;
    font-size: 20px;
}
