@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');

body{
    background-image: url(../../assets/images/final_fantasy.jpg);
    background-position-x: center;
    background-position-y: 50%;
    background-size: 50%;
    background-repeat: no-repeat;
}
body div h1{
    font-family: 'Bungee', cursive;
    position: relative;
    top: 73px;
    text-align: center;
    font-size: 40px;
}

img{
    width: 100%;  
}
.container .row div{
    /* border-left: 1px solid black;
    border-bottom: 1px solid black; */
    margin: 20px;
    /* background-color: lightgrey; */
    border: 1px solid black;
    background-color: white;
    box-shadow:  4px 4px 4px lightskyblue;
   -webkit-box-shadow: 4px 4px 4px lightskyblue;
   -moz-box-shadow: 4px 4px 4px lightskyblue;
}
.container .row{
    margin-top: 10%;
    
}
p{
   font-family: 'Source Sans Pro', sans-serif;
   font-size: 20px;
  
}
h3{
    position: absolute;
    justify-content: center;
    align-items: center;
    
}
.btn{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 10%;
}
div.btn input{
    margin-bottom: 5px;
}
.btn input, .btn select{
     border-bottom: 4px solid black;
}


